<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MessagePushExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>UCBMessage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8618FC1E1E4B4693009E59C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8618FC371E4B4694009E59C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8618FC421E4B4694009E59C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86665C531E4B89FF00A5490A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
